.card {

}

.card-body {
    width: 14em;

}

.card-img {

}

.card-title {
    font-weight: 500;
    height: 5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}