.tv-img-container {
    height: 16em;
}

.card-body {
    width: 13em;
}

.card-img-top {
    max-width: 13em;
}

.card-title {
    font-size: 15px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

